body {
  background-color: #f6f6f6;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  max-width: 580px;
}

.card {
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.65);
  line-height: 1.5;
  background: #fff;
  border-radius: 2px;
  padding: 24px;
}

.card .card-header {
  margin-top: 0;
}

.text-primary {
  color: #1890FF;
}

.footnote {
  margin-top: 2rem;
}

.btn a {
  display: inline-block;
  background-color: #1890FF;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  padding: 12px 25px;
  text-decoration: none;
}

.btn a:hover {
  background-color: #40a9ff;
}
